<header class="container-fluid shadow-lg fixed-top z-1">
  <div class="row align-items-center justify-content-between py-2 px-3">
    <div class="col-auto">
      <a class="navbar-brand" href="#">Vinyl Addict</a>
    </div>
    <div class="col">
      <nav class="navbar navbar-light justify-content-center d-md-none">
        <div class="dropdown w-100 text-center">
          <button
            class="btn btn-outline-secondary dropdown-toggle w-75"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
            @for (menu of menuItems ; track menu.id) {
            <li>
              <a
                class="dropdown-item"
                [routerLink]="menu.url"
                routerLinkActive="active"
                >{{ menu.titre }}</a
              >
            </li>
            }
          </ul>
        </div>
      </nav>
      <nav
        class="navbar navbar-expand-md navbar-light justify-content-center d-none d-md-flex"
      >
        <div class="collapse navbar-collapse justify-content-center show">
          <ul class="navbar-nav">
            @for (menu of menuItems ; track menu.id) {
            <li class="nav-item d-flex align-items-center mx-2">
              <button
                class="header-btn d-flex align-items-center"
                [routerLink]="menu.url"
                routerLinkActive="active"
                type="button"
              >
                <i class="{{ menu.icon }}"></i>&nbsp;{{ menu.titre }}
              </button>
            </li>
            }
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-auto">
      <div class="d-flex align-items-center"></div>
      <form class="d-flex align-items-center me-2 mb-0">
        <i class="bi bi-search"></i>
        <input
          class="form-control ms-2"
          type="search"
          placeholder="Rechercher"
          aria-label="Search"
        />
        <button (click)="onLogout()" class="btn ms-5 d-flex align-items-center">
          <i class="bi bi-box-arrow-right me-2"></i>
        </button>
      </form>
    </div>
  </div>
</header>
