.sidebar li {
  color: #e8d6be;
  text-decoration: none;
}
.sidebar li i {
  color: #e8d6be;
  text-decoration: none;
}
.sidebar h4 {
  color: #94b3a6;
}
.sidebar ul {
  list-style-type: none;
}
.sidebar a {
  color: #e8d6be;
  text-decoration: none;
}
