<aside class="sidebar ms-3">
  <div class="mt-5">
    <h4>VINYLES</h4>
    <ul>
      <li *ngFor="let menu of menuItems" class="mb-3">
        <i class="{{ menu.icon }}"></i>&nbsp;
        {{ menu.titre }}
      </li>
    </ul>
  </div>

  <div class="mt-5">
    <h4>CLIENTS</h4>
    <ul>
      <li *ngFor="let menu of menuItems" class="mb-3">
        <i class="{{ menu.icon }}"></i>&nbsp;
        {{ menu.titre }}
      </li>
    </ul>
  </div>

  <div style="margin-top: 100px">
    <h4>DISQUAIRES</h4>
    <ul>
      <li>
        <i class="bx bxs-plus-square"></i>
        <a href="#">Sign in</a>
      </li>
      <li>
        <i class="bx bxs-caret-right-circle"></i>
        <a [routerLink]="'/signup'" target="_blank">Sign up</a>
      </li>
    </ul>
  </div>
</aside>
