<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="title">
    <h2>{{ title }}</h2>
  </div>
  <div class="half">
    <div class="item">
      <label for="firstname">PRÉNOM</label>
      <input type="text" id="firstname" formControlName="firstname" />
      @if (isInvalidAndTouchedOrDirty(formGroup.controls['firstname'])) {
      <small class="text-danger">
        @if (formGroup.controls['firstname'].errors?.['required']) {
        <span>Une valeur est requise</span>
        }
      </small>
      }
    </div>
    <div class="item">
      <label for="lastname">NOM</label>
      <input type="text" id="lastname" formControlName="lastname" />
      @if (isInvalidAndTouchedOrDirty(formGroup.controls['lastname'])) {
      <small class="text-danger">
        @if (formGroup.controls['lastname'].errors?.['required']) {
        <span>Une valeur est requise</span>
        }
      </small>
      }
    </div>
  </div>
  <div class="half">
    <div class="item">
      <label for="password">MOT DE PASSE</label>
      <input type="password" id="password" formControlName="password" />
      @if (isInvalidAndTouchedOrDirty(formGroup.controls['password'])) {
      <small class="text-danger">
        @if (formGroup.controls['password'].errors?.['required']){
        <span> >Un mot de passe de 8 caractères minimum est requis</span>}
      </small>
      }
    </div>
  </div>

  <div class="action">
    <input type="submit" [value]="titleSubmit" />
    <input type="reset" value="ANNULER" />
    <input
      type="button"
      onclick="window.location.href='index.html';"
      value="RETOUR"
    />
  </div>
</form>
