.main-container {
  margin: 2rem;
  @media (max-width: 991.98px) {
    margin: 1rem;
  }
  @media (max-width: 767.98px) {
    margin: 0.5rem;
  }
}
.min-height-600 {
  min-height: 600px;
}
.no-flex-wrap {
  flex-wrap: inherit !important;
}
.sidebar {
  background-color: #3a4f45;
}
.header {
  background-color: #e8d6be;
}
.head h2 {
  color: #060606;
}
