<!-- <div class="dashboard" style="margin-left: 200px">
  <div
    class="sidebar position-fixed text-white overflow-hidden"
    style="
      width: 200px;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      padding-top: 20px;
    "
  >
    <div class="head">
      <div class="ms-2">
        <img
          src="logo.png"
          alt="Logotype"
          style="width: 50%; margin-left: 40px"
        />
        <h2 style="margin-left: 5px">Vinyl Addict</h2>
        <small class="form-text text-muted ms-3">© Émilie Barré</small>
      </div>
      <div class=""><app-sidebar></app-sidebar></div>
    </div>
  </div>
  <div class="main-container">
    <div>
      <div>
        <div>
          <app-form class="form-container"></app-form>
        </div>
      </div>
      <div class="d-flex align-items-center gap-20" style="padding: 20px 36px">
        <app-header></app-header>
      </div>
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>
