.main-container {
  margin: 200px;
}
.min-height-600 {
  min-height: 600px;
}
.no-flex-wrap {
  flex-wrap: inherit !important;
}
.sidebar {
  background-color: #3a4f45;
}
.header {
  background-color: #e8d6be;
}
